# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=ecommerce

# UI Ports
REDIS_INSIGHT_PORT=8001
PGADMIN_PORT=8002
KAFKA_UI_PORT=8003
KIBANA_PORT=8004
