# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=ecommerce

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181
KAFKA_UI_PORT=8002

# UI Ports
REDIS_INSIGHT_PORT=8001
KIBANA_PORT=8004
