# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_DB=ecommerce

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181
KAFKA_UI_PORT=8002

# UI Ports
REDIS_INSIGHT_PORT=8001
KIBANA_PORT=8004

# DynamoDB Local
DYNAMODB_PORT=8000
DYNAMODB_ADMIN_PORT=8003
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
